node_modules
/src
docker-compose.yaml
yarn.lock
package.json
query.txt

/jwt-auth/ambassador
/jwt-auth/ambassador_values.yaml

# local env files
.env.local
.env.*.local
.env.*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.code-workspace