apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.config.name }}
data:
  DATABASE_NAME: someapp
  DATABASE_USER: superuser
  DATABASE_PASSWORD: somepass
  USER_SERVICE_BASE_URL: 'http://192.168.99.115:8000'
  PRODUCT_SERVICE_BASE_URL: 'http://192.168.99.115:8000'
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secret.name }}
type: Opaque
data:
  DATABASE_URI: {{ printf "mongodb://%s:%s@%s:%s/%s" .Values.externalMongodb.mongodbUsername .Values.externalMongodb.mongodbPassword .Values.externalMongodb.mongodbHost .Values.externalMongodb.mongodbPort .Values.externalMongodb.mongodbDatabaseName | b64enc | quote }}