# Default values for helm-manifests.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

fullnameOverride: "frontend"

image: eubash/configurator-frontend:1.0.1

service:
  type: NodePort
  port: 8001

ingress:
  enabled: true
  hosts:
    - host: room-configurator.com
      paths: ["/"]

config:
  name: frontend-config

secret:
  name: frontend-secret


